[Unit]
Description=Encrypted Dns Server
Documentation=https://github.com/jedisct1/encrypted-dns-server
After=network.target

[Service]
ExecStart=/usr/local/bin/encrypted-dns -c /etc/encrypted-dns/encrypted-dns.toml
ExecReload=/usr/local/bin/encrypted-dns -c /etc/encrypted-dns/encrypted-dns.toml

[Install]
WantedBy=multi-user.target
